<!DOCTYPE html>
<html>
  <head>
    <%= render_gtm_on_rails_tag_in_head %>

    <title>Dummy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render_gtm_on_rails_tag_in_body %>

    <%= yield %>
  </body>
</html>
